{% extends  "base.html" %}

{% block pageTitle %}
Главная страница
{% endblock %}

{% block content %}
<br>
<h5>
  <div>Сортировка пузырьком — один из самых известных алгоритмов сортировки. Здесь нужно последовательно сравнивать значения соседних элементов и менять числа местами, если предыдущее оказывается больше последующего. Таким образом элементы с большими значениями "поднимаються на поверхность воды" и не участвуют в сравнении.<div>
<h5>
<br>

<br>
<h5>
  <div>Наилучшая время: О(n)<div>
  <div>Наихудшее время: О(n^2)<div>
  <div>Затраты памяти:  О(1) <div>
<h5>
<br>

<br>
<h5>
  <div>Общий ввид алогоритма:<div>
  <div>    1) Сравнимваем соседние элементы слева направо:<div>
  <div>    2)   если левое > правого, то меняем местами; иначе остовляем на месте<div>
  <div>    3) Остновка происходит, когда все элементы будут "подняты" вверх<div>
<h5>
<br>

<br>
<h5>
  <div>Введите строку с цифрами для сортировки</div>
  <form action="/start">
    <label for="userInput">Числа:</label>
    <input type="text" id="userInput" name="input">
    <input type="submit" value="Показ">
  </form>
<h5>
<br>
{% endblock %}