{% extends  "base.html" %}

{% block pageTitle %}
Демо сортировки
{% endblock %}

{% block content %}
<div>Вы ввели:</div>
<div>{{ ctx.userInput }}</div>
<br>

<div>Значение массива: </div>
<div> {{ ctx.data.array }} </div>
<br>
<div> {{ ctx.data.description }} </div>
<br>
<form action="/step">
  <input type="text"  name="indx" hidden value="{{ ctx.data.nextIndex }}">
  <input type="text"  name="step" hidden value="{{ ctx.data.nextStep }}">
  <input type="submit" value="Next step">
</form>

{% endblock %}