{% extends  "base.html" %}

{% block pageTitle %}
Lab-Cимфония
{% endblock %}

{% block content %}
<br>
<h3>
    <div>Сортировка пузыриком:</div>
</h3>
<br>

<!--<div>Текущее состояние массива:</div>-->
<!--<div> {{ ctx.data.array }}</div>-->
<!--<div>{{ ctx.data.colors }}</div>-->
<br>
<h3>
    {% for n in ctx.data.array %}
    {% if loop.index0 in ctx.data.colors %}
    {% set color = ctx.data.colors[loop.index0] %}
    <span style="color:{{color}}">{{n}}</span>
    {% else %}
    <span>{{n}}</span>
    {%endif%}
    {% endfor %}
</h3>
<br>
<br>
<h5> {{ ctx.data.description }}</h5>
<br>

<form action="/step">
    <input type="text" name="indx" hidden value="{{ ctx.data.nextIndex }}">
    <input type="text" name="step" hidden value="{{ ctx.data.nextStep }}">
    <input type="text" name="kndx" hidden value="{{ ctx.data.nextIndexK }}">
    <input type="submit" value="Следущий шаг">
</form>

{% endblock %}