{% extends  "base.html" %}

{% block pageTitle %}
Демо сортировки
{% endblock %}

{% block content %}
<div>Вы ввели:</div>
<div>{{ ctx.userInput }}</div>
<br>

<div>Текущее состояние массива:</div>
<div> {{ ctx.data.array }}</div>
<div>{{ ctx.data.colors }}</div>
<br>
{% for n in ctx.data.array  %}
    {% if  loop.index0 in ctx.data.colors %}
        {% set color = ctx.data.colors[loop.index0] %}
        <span style="color:{{color}}">{{n}}</span>
    {% else %}
        <span>{{n}}</span>
    {%endif%}
{% endfor %}
<br>
<br>
<div> {{ ctx.data.description }}</div>
<br>

<form action="/step">
    <input type="text" name="indx" hidden value="{{ ctx.data.nextIndex }}">
    <input type="text" name="step" hidden value="{{ ctx.data.nextStep }}">
    <input type="submit" value="Next step">
</form>

{% endblock %}